In [2]:
# 모델 구현 시간 체크
import time
# 시작시간 체크
start = time.time()

# 패키지 로딩
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 한글폰트 적용
plt.rcParams['font.family'] = 'Malgun Gothic'

# 수입 데이터 로딩 (가상데이터)
df_org = pd.read_csv('train.csv')
#쓸모없는 열 삭제
del df_org['Unnamed: 0']

### Nan 값, 데이터셋  처리

In [3]:
df = df_org.fillna('ㅁ')
df = df.drop(['핵심적발','신고번호','신고일자','검사결과코드'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76837 entries, 0 to 76836
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   통관지세관부호   76837 non-null  int64
 1   신고인부호     76837 non-null  object
 2   수입자부호     76837 non-null  object
 3   해외거래처부호   76837 non-null  object
 4   특송업체부호    76837 non-null  object
 5   수입통관계획코드  76837 non-null  object
 6   수입신고구분코드  76837 non-null  object
 7   수입거래구분코드  76837 non-null  int64
 8   수입종류코드    76837 non-null  int64
 9   징수형태코드    76837 non-null  int64
 10  신고중량(KG)  76837 non-null  float64
 11  과세가격원화금액  76837 non-null  float64
 12  운송수단유형코드  76837 non-null  int64
 13  반입보세구역부호  76837 non-null  int64
 14  HS10단위부호  76837 non-null  int64
 15  적출국가코드    76837 non-null  object
 16  원산지국가코드   76837 non-null  object
 17  관세율구분코드   76837 non-null  object
 18  관세율       76837 non-null  float64
 19  우범여부      76837 non-null  int64
dtypes: float64(3), int64(8), object(9)
memory usage: 11.7+ MB

In [4]:
discrete_columns = ['통관지세관부호',
       '신고인부호', '수입자부호', '해외거래처부호', '특송업체부호', '수입통관계획코드', 
       '수입신고구분코드', '수입거래구분코드','수입종류코드', '징수형태코드', 
       '운송수단유형코드', '반입보세구역부호', 'HS10단위부호', '적출국가코드', 
       '원산지국가코드', '관세율구분코드']

for var in discrete_columns:
    df[var] = df[var].astype(str)

In [5]:
numeric_columns = ['신고중량(KG)', '과세가격원화금액', '관세율', '우범여부']

for var in ['신고중량(KG)', '과세가격원화금액']:
    df[var] = df[var].apply(lambda x: np.log1p(x))

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76837 entries, 0 to 76836
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   통관지세관부호   76837 non-null  object
 1   신고인부호     76837 non-null  object
 2   수입자부호     76837 non-null  object
 3   해외거래처부호   76837 non-null  object
 4   특송업체부호    76837 non-null  object
 5   수입통관계획코드  76837 non-null  object
 6   수입신고구분코드  76837 non-null  object
 7   수입거래구분코드  76837 non-null  object
 8   수입종류코드    76837 non-null  object
 9   징수형태코드    76837 non-null  object
 10  신고중량(KG)  76837 non-null  float64
 11  과세가격원화금액  76837 non-null  float64
 12  운송수단유형코드  76837 non-null  object
 13  반입보세구역부호  76837 non-null  object
 14  HS10단위부호  76837 non-null  object
 15  적출국가코드    76837 non-null  object
 16  원산지국가코드   76837 non-null  object
 17  관세율구분코드   76837 non-null  object
 18  관세율       76837 non-null  float64
 19  우범여부      76837 non-null  int64
dtypes: float64(3), int64(1), object(16)
memory usage: 11.7+ MB

In [7]:
df.shape

(76837, 20)

In [8]:
df_z = df[i].value_counts(normalize=True).rename_axis('unique').reset_index(name='counts')

In [18]:
df_add = df_z['counts']
df_z

    unique    counts
0        ㅁ  0.673256
1   PR5UFJ  0.065463
2   PAVJZL  0.036415
3   24BG4R  0.015735
4   TQ18AK  0.014719
5   O04TIW  0.013717
6   VACAWV  0.012442
7   QJ0YGH  0.008420
8   6TFEP5  0.007718
9   6RJ8HT  0.006859
10  718MAA  0.006221
11  ID7FLR  0.005935
12  QKUSM1  0.004737
13  2ADDNP  0.004477
14  5SZ7FO  0.004464
15  OJ6WM3  0.004451
16  TOO0OK  0.004360
17  6AXUNR  0.003904
18  8Z7M3O  0.003813
19  26O9QU  0.003696
20  HGT4IX  0.003696
21  C54WLZ  0.003540
22  6VXR7R  0.003306
23  883CMC  0.003267
24  K35446  0.003241
25  VI9G4M  0.003228
26  HN5E27  0.003228
27  VSYNVB  0.003189
28  XK2HKR  0.003019
29  Q8TBEO  0.002863
30  ME9TG4  0.002798
31  D3H0A4  0.002746
32  6EM00W  0.002746
33  KTBTZT  0.002694
34  QSV8RY  0.002694
35  RDEAWL  0.002590
36  L67RFP  0.002525
37  XIKL72  0.002486
38  90DF54  0.002395
39  A9QWI8  0.002343
40  L2ILSN  0.002212
41  PZYUR4  0.002095
42  6MSSDI  0.001991
43  Q03ZS4  0.001965
44  YBNP69  0.001900
45  NBYTNK  0.001770
46  98GCBT  0.001627
47  HB62YN  0.001614
48  FK5XHP  0.001614
49  QP5OME  0.001601
50  AMGRF5  0.001484
51  M7SEXF  0.001419
52  YXAKR4  0.001354
53  O2J0OX  0.001184
54  RKP5AP  0.001015
55  9BO2S9  0.001015
56  ZVCGS6  0.001002
57  1A3HEJ  0.000885
58  KMQGJQ  0.000885
59  RG7BYC  0.000859
60  8Q2G59  0.000859
61  BLQXV7  0.000833
62  1E2DJD  0.000755
63  MRD73X  0.000703
64  FJ0YAA  0.000677
65  HRIQ4G  0.000664
66  L0ZLXK  0.000664
67  YGHZ0X  0.000651
68  I8ST7N  0.000599
69  47QGIA  0.000586
70  WDVVLL  0.000560
71  CRVF1Z  0.000534
72  1EZAFG  0.000534
73  6FE43Q  0.000482
74  A41WVG  0.000403
75  5HIQAV  0.000351
76  PNE6WR  0.000325
77  ID1L6P  0.000286
78  M72HED  0.000247
79  MWL4TG  0.000221
80  5FDIRV  0.000182

In [10]:
a= df['특송업체부호'].unique()

In [12]:
temp = df['우범여부']==1
df_target1 = df[temp]
temp = df['우범여부']==0
df_target0 = df[temp]
df_target1.shape, df_target0.shape

((17572, 20), (59265, 20))

### 우범비율 조사

In [13]:
for i in df.columns:
    print("column : ", i)
    df_우범1 = df_target1[i].value_counts().rename_axis('unique').reset_index(name='counts')
    df_우범0 = df_target0[i].value_counts().rename_axis('unique').reset_index(name='counts')
    df_전체 = df[i].value_counts().rename_axis('unique').reset_index(name='counts')
    
    div = (df_우범1['counts'] / df_우범0['counts']).reset_index(name='rate')
    div = pd.concat([div,df_우범0['unique']],axis=1,sort=False)
    div = pd.concat([div,df_전체['counts']],axis=1,sort=False)
    div = div.reindex(columns=['unique','rate','counts'])
    
    ## 그룹화 찾기 파라미터 

    # 작은 데이터인 경우 
    b = div['rate'] >= 1
    small = b

    # 큰 데이터인 경우 
    a = div['counts'] > 1000
    b = div['rate'] >= 0.4
    big = a & b

    data = (small).reset_index(name='result')
    div = pd.concat([div,data['result']],axis=1,sort=False)
    div = div.reindex(columns=['unique','rate','counts','result'])
    
    print(div)
    print("###########################")
    print("##########END#############")

column :  통관지세관부호
   unique      rate  counts  result
0      40  0.216574   39007   False
1      20  0.317901   12354   False
2      30  0.379784    9050   False
3      10  0.207960    6578   False
4      16  0.310719    3698   False
5      13  0.656730    1834   False
6      33  0.838150     636   False
7      80  1.240602     298    True
8      12  1.376147     252    True
9      62  1.371429     233    True
10     39  1.254902     230    True
11     41  1.150000     215    True
12     21  1.255814     209    True
13    140  1.265823     187    True
14     53  1.469697     163    True
15     82  1.516129     148    True
16    120  1.607143     146    True
17    131  1.686275     145    True
18    152  1.686275     137    True
19    121  1.588235     127    True
20    151  1.565217     119    True
21    153  1.658537     105    True
22     50  1.512821      98    True
23    130  1.512821      98    True
24     14  1.571429      88    True
25    150  1.575758      85    True
26    122  1.333333      81    True
27     56  1.212121      79    True
28     90  1.500000      63    True
29     81  1.458333      61    True
30     23  1.454545      51    True
31     17  1.722222      47    True
32    100  1.812500      46    True
33     71  1.866667      45    True
34     70  1.076923      29    True
35    102  1.076923      24    True
36    110  1.714286      21    True
37     60  1.714286      19    True
38    101  2.200000      17    True
39    154  1.800000      14    True
###########################
##########END#############
column :  신고인부호
    unique      rate  counts  result
0    CGMT6  0.096880    3691   False
1    VRNEF  0.096614    2429   False
2    QPV57  0.121023    1973   False
3    4U9GW  0.119371    1561   False
4    ZWWQR  0.121592    1520   False
..     ...       ...     ...     ...
959    NaN       NaN       1   False
960    NaN       NaN       1   False
961    NaN       NaN       1   False
962    NaN       NaN       1   False
963    NaN       NaN       1   False

[964 rows x 4 columns]
###########################
##########END#############
column :  수입자부호
       unique      rate  counts  result
0     82ZHWNL  0.135922     351   False
1     VDQCE8U  0.115789     305   False
2     18FVF01  0.142222     248   False
3     O8B0380  0.118227     222   False
4     DA4FLAJ  0.131868     205   False
...       ...       ...     ...     ...
8316      NaN       NaN       1   False
8317      NaN       NaN       1   False
8318      NaN       NaN       1   False
8319      NaN       NaN       1   False
8320      NaN       NaN       1   False

[8321 rows x 4 columns]
###########################
##########END#############
column :  해외거래처부호
       unique      rate  counts  result
0           ㅁ  0.057770   26293   False
1     WQZVLM0  0.242788     517   False
2     MW8PLZN  0.209836     360   False
3     R0XT3H9  0.212121     359   False
4     VQJ47O3  0.225092     327   False
...       ...       ...     ...     ...
4744      NaN       NaN       1   False
4745      NaN       NaN       1   False
4746      NaN       NaN       1   False
4747      NaN       NaN       1   False
4748      NaN       NaN       1   False

[4749 rows x 4 columns]
###########################
##########END#############
column :  특송업체부호
    unique      rate  counts  result
0        ㅁ  0.155768   51731   False
1   PR5UFJ  0.379973    5030   False
2   PAVJZL  0.371569    2798   False
3   24BG4R  0.572172    1209   False
4   TQ18AK  0.541779    1131   False
..     ...       ...     ...     ...
76  5HIQAV  1.444444      25    True
77  A41WVG  1.222222      22    True
78  M72HED  1.222222      19    True
79  MWL4TG  1.666667      17    True
80  5FDIRV  2.500000      14    True

[81 rows x 4 columns]
###########################
##########END#############
column :  수입통관계획코드
  unique      rate  counts  result
0      D  0.258132   27814   False
1      C  0.261575   27421   False
2      F  0.438532    8273   False
3      B  0.360158    5973   False
4      E  0.247941    5468   False
5      Z  0.878822    1659   False
6      H  2.013158     229    True
###########################
##########END#############
column :  수입신고구분코드
  unique      rate  counts  result
0      B  0.275274   72345   False
1      D  1.000964    2075    True
2      E  1.001272    1573    True
3      A  0.183731     844   False
###########################
##########END#############
column :  수입거래구분코드
   unique      rate  counts  result
0      11  0.203090   41734   False
1      15  0.302260   21667   False
2      94  0.573313    4174   False
3      87  0.598471    3555   False
4      91  0.533200    3071   False
5      89  1.450000     343    True
6      29  1.495413     252    True
7      93  1.422680     228    True
8      96  1.426966     224    True
9      84  1.415730     223    True
10     88  1.458824     213    True
11     83  1.525641     204    True
12     85  1.259740     174    True
13     80  1.395833     110    True
14     86  1.282609     105    True
15     92  1.302326     104    True
16     71  1.655172      77    True
17     22  2.136364      69    True
18     51  2.555556      64    True
19     13  1.777778      49    True
20     55  1.823529      44    True
21     59  2.000000      41    True
22     12  1.733333      41    True
23     52  2.000000      39    True
24     21  1.363636      32    True
###########################
##########END#############
column :  수입종류코드
  unique      rate  counts  result
0     21  0.297843   69859   False
1     11  0.140405    5580   False
2     26  1.251244     905    True
3     28  2.235294     108    True
4     12  2.281250     104    True
5     23  2.692308      99    True
6     15  2.692308      96    True
7     27  2.666667      33    True
8     14  2.333333      28    True
9     13  2.285714      25    True
###########################
##########END#############
column :  징수형태코드
  unique      rate  counts  result
0     11  0.221857   51307   False
1     43  0.433048    9193   False
2     18  0.495047    6490   False
3     14  0.610813    3903   False
4      0  0.590588    3055   False
5     21  0.206667    2497   False
6     13  1.118644     250    True
7     33  1.966667      89    True
8     12  1.409091      53    True
###########################
##########END#############
column :  신고중량(KG)
         unique      rate  counts  result
0      5.599532  0.583333      13   False
1      5.470168  0.500000      10   False
2      5.213848  0.500000      10   False
3      5.499215  0.555556      10   False
4      5.082025  0.555556      10   False
...         ...       ...     ...     ...
57174       NaN       NaN       1   False
57175       NaN       NaN       1   False
57176       NaN       NaN       1   False
57177       NaN       NaN       1   False
57178       NaN       NaN       1   False

[57179 rows x 4 columns]
###########################
##########END#############
column :  과세가격원화금액
          unique      rate  counts  result
0       0.000000  0.297787     645   False
1       8.181495  0.666667       3   False
2       8.773775  1.000000       3    True
3      12.024008  1.000000       3    True
4      14.253496  1.000000       3    True
...          ...       ...     ...     ...
75947        NaN       NaN       1   False
75948        NaN       NaN       1   False
75949        NaN       NaN       1   False
75950        NaN       NaN       1   False
75951        NaN       NaN       1   False

[75952 rows x 4 columns]
###########################
##########END#############
column :  운송수단유형코드
  unique      rate  counts  result
0     10  0.300397   37086   False
1     40  0.245122   35895   False
2     50  0.921376    2346   False
3     30  0.979730    1172   False
4     20  1.696970     178    True
5     90  1.807018     160    True
###########################
##########END#############
column :  반입보세구역부호
      unique      rate  counts  result
0    4002001  0.099245    9315   False
1    2002079  0.121536    4088   False
2    4077010  0.139660    3615   False
3    4077008  0.162041    2847   False
4    1351002  0.164786    2558   False
..       ...       ...     ...     ...
563      NaN       NaN       2   False
564      NaN       NaN       2   False
565      NaN       NaN       2   False
566      NaN       NaN       1   False
567      NaN       NaN       1   False

[568 rows x 4 columns]
###########################
##########END#############
column :  HS10단위부호
          unique      rate  counts  result
0     2106909099  0.097779    4794   False
1     3926909000  0.154368    2722   False
2     6307909000  0.230583    1014   False
3     8703239020  0.219092     749   False
4     3304999000  0.222405     747   False
...          ...       ...     ...     ...
2401         NaN       NaN       1   False
2402         NaN       NaN       1   False
2403         NaN       NaN       1   False
2404         NaN       NaN       1   False
2405         NaN       NaN       1   False

[2406 rows x 4 columns]
###########################
##########END#############
column :  적출국가코드
   unique      rate  counts  result
0      CN  0.295595   31321   False
1      US  0.228499   13527   False
2      JP  0.282586    8433   False
3      VN  0.346678    3123   False
4      DE  0.350520    3025   False
..    ...       ...     ...     ...
84     AS       NaN       2   False
85     NP       NaN       2   False
86     LI       NaN       2   False
87     IE       NaN       2   False
88    NaN       NaN       1   False

[89 rows x 4 columns]
###########################
##########END#############
column :  원산지국가코드
   unique      rate  counts  result
0      CN  0.298980   34006   False
1      US  0.224278   12042   False
2      JP  0.291203    7192   False
3      DE  0.322125    3185   False
4      VN  0.331776    2850   False
..    ...       ...     ...     ...
89     NP       NaN       2   False
90     CR       NaN       2   False
91     BO       NaN       1   False
92    NaN       NaN       1   False
93    NaN       NaN       1   False

[94 rows x 4 columns]
###########################
##########END#############
column :  관세율구분코드

   unique      rate  counts  result
0       A  0.280553   36474   False
1       C  0.275700   15996   False
2    FCN1  0.307295   10125   False
3    FEU1  0.388094    4267   False
4     CIT  0.330977    3201   False
5    FUS1  0.373155    1954   False
6    FAS1  0.354503    1173   False
7      W2  0.325773     607   False
8    FVN1  0.283721     588   False
9      E1  0.373737     408   False
10      F  0.310526     249   False
11     P3  0.341463     209   False
12   FIN1  0.333333     200   False
13     W1  0.326087     177   False
14   CIT1  0.317829     171   False
15      L  0.272727     162   False
16   FAU1  0.360465     112   False
17   FCA1  0.320988     103   False
18   FTR1  0.380952      86   False
19   FEF1  0.366667      81   False
20   FCN2  0.355932      80   False
21   FCN6  0.384615      74   False
22   FCL1  0.418605      66   False
23   FNZ1  0.404762      63   False
24   FUS2  0.419355      44   False
25      R  0.347826      29   False
26   FPE1  0.380952      28   False
27     P1  0.400000      27   False
28   FUS5  0.315789      27   False
29   FEU6  0.428571      22   False
30   FCN4  0.750000      14   False
31   FVN2  0.800000       9   False
32   FUS6  0.600000       8   False
33    NaN       NaN       2   False
34    NaN       NaN       1   False
###########################
##########END#############
column :  관세율
    unique      rate  counts  result
0      8.0  0.270293   26983   False
1      0.0  0.338044   22402   False
2      6.5  0.267325    7827   False
3     13.0  0.308350    5202   False
4      3.2  0.330986    2268   False
..     ...       ...     ...     ...
79     1.1  0.333333       4   False
80    11.7  0.333333       3   False
81     6.7       NaN       3   False
82     3.8       NaN       3   False
83     4.6       NaN       1   False

[84 rows x 4 columns]
###########################
##########END#############
column :  우범여부
   unique      rate  counts  result
0     0.0  0.296499   59265   False
1     NaN       NaN   17572   False
###########################
##########END#############

In [14]:
pd.set_option('display.max_rows', None)
# col 생략 없이 출력
pd.set_option('display.max_columns', None)

In [15]:
i = '특송업체부호'
df_우범1 = df_target1[i].value_counts().rename_axis('unique').reset_index(name='counts')
df_우범0 = df_target0[i].value_counts().rename_axis('unique').reset_index(name='counts')
df_전체 = df[i].value_counts().rename_axis('unique').reset_index(name='counts')
    
div = (df_우범1['counts'] / df_우범0['counts']).reset_index(name='rate')
div = pd.concat([div,df_우범0['unique']],axis=1,sort=False)
div = pd.concat([div,df_전체['counts']],axis=1,sort=False)
div = div.reindex(columns=['unique','rate','counts'])
    
    ## 그룹화 찾기 파라미터 

    # 작은 데이터인 경우 
b = div['counts'] <20000
small = b

    # 큰 데이터인 경우
a = div['rate'] > 0.46
b = div['rate'] < 5
big = a & b

data = (big&small).reset_index(name='result')
div = pd.concat([div,data['result']],axis=1,sort=False)
div = div.reindex(columns=['unique','rate','counts','result'])

print(div)
print("###########################")
print("##########END#############")

    unique      rate  counts  result
0        ㅁ  0.155768   51731   False
1   PR5UFJ  0.379973    5030   False
2   PAVJZL  0.371569    2798   False
3   24BG4R  0.572172    1209    True
4   TQ18AK  0.541779    1131    True
5   O04TIW  0.564586    1054    True
6   VACAWV  0.658845     956    True
7   QJ0YGH  0.782369     647    True
8   6TFEP5  0.754438     593    True
9   6RJ8HT  0.863636     527    True
10  718MAA  0.956349     478    True
11  ID7FLR  1.081340     456    True
12  QKUSM1  1.011050     364    True
13  5SZ7FO  1.040230     344    True
14  OJ6WM3  1.084848     343    True
15  2ADDNP  1.085890     342    True
16  TOO0OK  1.121795     335    True
17  8Z7M3O  1.104575     300    True
18  26O9QU  1.054422     293    True
19  VSYNVB  1.131783     284    True
20  HGT4IX  1.124031     284    True
21  C54WLZ  1.102362     272    True
22  6AXUNR  1.096000     254    True
23  VI9G4M  1.096774     251    True
24  883CMC  1.088710     249    True
25  6VXR7R  1.118644     248    True
26  K35446  1.114035     248    True
27  D3H0A4  1.201923     245    True
28  HN5E27  1.215686     232    True
29  Q8TBEO  1.207921     220    True
30  XK2HKR  1.190000     215    True
31  QSV8RY  1.208333     211    True
32  KTBTZT  1.202128     211    True
33  ME9TG4  1.204301     207    True
34  RDEAWL  1.204301     207    True
35  6EM00W  1.290698     199    True
36  XIKL72  1.258824     194    True
37  L67RFP  1.292683     191    True
38  A9QWI8  1.341772     184    True
39  90DF54  1.358974     180    True
40  PZYUR4  1.442857     170    True
41  Q03ZS4  1.358209     161    True
42  NBYTNK  1.348485     153    True
43  YBNP69  1.292308     151    True
44  6MSSDI  1.265625     146    True
45  QP5OME  1.229508     136    True
46  L2ILSN  1.275862     125    True
47  FK5XHP  1.296296     124    True
48  AMGRF5  1.346154     124    True
49  HB62YN  1.280000     123    True
50  98GCBT  1.240000     114    True
51  M7SEXF  1.291667     109    True
52  YXAKR4  1.525000     104    True
53  O2J0OX  1.459459      91    True
54  KMQGJQ  1.432432      78    True
55  9BO2S9  1.689655      78    True
56  RKP5AP  1.689655      77    True
57  RG7BYC  1.413793      68    True
58  1E2DJD  1.464286      68    True
59  8Q2G59  1.357143      66    True
60  1A3HEJ  1.370370      66    True
61  FJ0YAA  1.360000      64    True
62  ZVCGS6  1.375000      58    True
63  BLQXV7  1.434783      54    True
64  L0ZLXK  1.476190      52    True
65  MRD73X  1.500000      51    True
66  HRIQ4G  1.666667      51    True
67  CRVF1Z  1.666667      50    True
68  1EZAFG  1.705882      46    True
69  I8ST7N  1.588235      45    True
70  YGHZ0X  1.529412      43    True
71  WDVVLL  1.411765      41    True
72  6FE43Q  1.437500      41    True
73  47QGIA  1.466667      37    True
74  PNE6WR  1.750000      31    True
75  ID1L6P  1.636364      27    True
76  5HIQAV  1.444444      25    True
77  A41WVG  1.222222      22    True
78  M72HED  1.222222      19    True
79  MWL4TG  1.666667      17    True
80  5FDIRV  2.500000      14    True
###########################
##########END#############